#CollectionSection-template--26237534765386__featured_collection_tGHGVw {
  display: none !important;
}
select.pennywise-volume-dropdown {
  pointer-events: none;
  background: #f0f0f0; /* optional visual cue */
}
